version: '3'

services:
  app:
    build: .
    container_name: grayn-app
    ports:
      - "3000:3000"
    restart: always

  nginx:
    image: nginx:latest
    container_name: grayn-nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    depends_on:
      - app
    restart: always

  certbot:
    image: certbot/certbot
    container_name: grayn-certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot